
*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background: rgb(26,15,61);
    background: linear-gradient(90deg, rgba(26,15,61,1) 13%, rgba(20,20,105,1) 48%);
}
header{
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
    font-weight: 700;
    background: rgb(26,15,61);
    background: linear-gradient(90deg, rgba(26,15,61,1) 13%, rgba(20,20,105,1) 48%);
}

.logo{
    font-size: 30px;   
    color: white;
}

.navlist{
    display: flex;

}
.navlist li a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    list-style-type: none;
}

.navlist li a:hover{
    border-bottom: 2px solid white;
}

#menu-icon{
    color: white;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.hero{
    height: auto;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 0 19%;
}
.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40PX;

}
.hero-text h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}
.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}
.hero-text p{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;

}
.hero-img img{
    margin: 20%;
    width: 550px;
    height: auto;

}
.hero-text a{
    display: inline-block;
    color: white;
    background-color: #0843a8;
    border: 1px solid transparent;
    padding: 12px 30px;
    margin: 4px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.hero-text a:hover{
    background: transparent;
    border: 1px solid transparent;
    transform: translateX(8px);
}
.hero-text a .ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}
.hero-text a .ctaa i{
    vertical-align: middle;
    margin-right: 5px;
    
}
.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons i{
    display: block;
    margin: 26px;
    font-size: 25px;
    color: white;
    transition: all .50s ease;
}
.icons i:hover{
    color: #0843a8;
    transform: translateY(-5px);
}
.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%;

}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #0843a8;
    border-radius: 30px;
    transition: all .50s ease;
}
.scroll-down i:hover{
    transform: translateY(-5px);
}

@media  screen and (max-width: 600px) {
    .logo{
        font-size: 50px;
    }
    .navlist{
        display: none;
    }
    #menu-icon{
        display: block;
    }
}